h1 {

    color:rgb(254, 136, 248) ;
     background-color:#9402a7;
      width: 300px;
       text-align: center; 
       height: 42px;
       margin: auto;
       margin-top: 45px;
       border-radius: 15px;
       font-family: 'Noto Kufi Arabic', sans-serif;

}


#game { 

margin-top: 55px;
display: flex;
justify-content: center;

}

p{

text-align: center;
font-size:large;
font-style: italic;
font-weight:bold;
font-family: 'Noto Kufi Arabic', sans-serif;

}
a:link {

text-decoration: none;
font-size:larger;
margin-left: 45%;

}

